<!--
    Have to make the title required
    might have to set default for the boolean
-->

<mat-form-field>
    <mat-label>todo_list</mat-label>
    <input required matInput [(ngModel)]="todoListTitle">
  </mat-form-field>

  <!-- <mat-form-field class="example-full-width">
    <mat-label>todolist</mat-label>
    <input type="text" matInput [formControl]="todoListFormControl" 
           placeholder="todolist">
    <mat-error *ngIf="todoListFormControl.hasError('required')">todolist name is <strong>required</strong></mat-error>
  </mat-form-field> -->


  <mat-card>
    <mat-card-content>public or private</mat-card-content>
    <mat-checkbox class="example-margin" [(ngModel)]="checked">public todo list?</mat-checkbox>
  </mat-card>
  
   <button (click)="addList()">Add List</button>
  <!-- <mat-form-field> -->
    <!-- <mat-label>Public List???</mat-label>
    <mat-select ngDefaultControl="false" [(ngModel)]="todoListPublicList">
      <mat-option value="true">True</mat-option>
      <mat-option value="false">False</mat-option>
    </mat-select> -->

    
  <!-- </mat-form-field> -->

 

  



