
<!--
    ADD or INSERT CARD LATER to make look pretty


-->




  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Registration</mat-card-title>
      <mat-card-subtitle>todo</mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-content>

        
        <div class="register-form">

            <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input type="email" matInput [formControl]="emailFormControl" 
                       placeholder="Ex. jam@example.com">
                
                <!--ng if directive-->
                <mat-error *ngIf="(emailFormControl.hasError('email') && !emailFormControl.hasError('required'))">Please enter a valid email address</mat-error>
            
                <mat-error *ngIf="emailFormControl.hasError('required')">Email is <strong>required</strong></mat-error>
                
              </mat-form-field>


              <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <input type="password" matInput [formControl]="passwordFormControl" 
                       placeholder="password123">
                <mat-error *ngIf="passwordFormControl.hasError('required')">Password is <strong>required</strong></mat-error>
              </mat-form-field>

             

          <mat-form-field class="example-full-width">
            <mat-label>Name</mat-label>
            <input type="text" matInput [formControl]="nameFormControl" placeholder="james no">
            
          
            <mat-error *ngIf="nameFormControl.hasError('required')">Name is <strong>required</strong></mat-error>
            
           
          </mat-form-field>
        </div>

          
     
    </mat-card-content>
    <mat-card-actions>
        <p *ngIf="emailFormControl.hasError('email') || emailFormControl.hasError('required') || passwordFormControl.hasError('required') || nameFormControl.hasError('required')">register button will appear once you fill all validated input fields</p>
        <button *ngIf="!emailFormControl.hasError('email') && !emailFormControl.hasError('required') && !passwordFormControl.hasError('required') && !nameFormControl.hasError('required')" mat-raised-button (click)="createUser()">Register</button>
    </mat-card-actions>
  </mat-card>
  
  
 

 
  