<mat-progress-bar *ngIf="newArray.length == 0" mode="indeterminate"></mat-progress-bar>

<p>PUBLIC TODO LIST!</p>
<p>current word is :</p>
<p>{{currentBlog}}</p>
<!--ngfor -->
<span *ngFor="let blog of newArray">
    <mat-card>
        <mat-card-content>{{blog.title}}</mat-card-content>
        <mat-card-content>{{blog.created_at}}</mat-card-content>
        <mat-card-content>{{blog.created_by}}</mat-card-content>
        <mat-card-content>{{blog.public_list}}</mat-card-content>
        <mat-card-content>{{blog.id}}</mat-card-content>
      </mat-card> 
    <hr>
</span>
<input type="text" [(ngModel)]="currentBlog"/>


<!-- test an event -->

<button (click)="addBlog()">add to the blog array</button>