<mat-progress-bar *ngIf="newArray.length == 0" mode="indeterminate"></mat-progress-bar>

<p>PUBLIC TODO LIST!</p>
<!-- <input type="text" [(ngModel)]="currentBlog"/> -->


<!-- test an event -->

<!-- <button (click)="addBlog()">add to the blog array</button> -->

<!--ngfor -->
<span *ngFor="let blog of newArray">
    <mat-card>
        <mat-card-content>Title:{{blog.title}}</mat-card-content>
        <mat-card-content>Created-at:{{blog.created_at}}</mat-card-content>
        <mat-card-content>Created-by:{{blog.created_by}}</mat-card-content>
        <mat-card-content>Public-list-status:{{blog.public_list}}</mat-card-content>
        <mat-card-content>Blog-id:{{blog.id}}</mat-card-content>
        <button mat-button (click)="openDialog(blog)">Open Todolist</button>
      </mat-card> 
    <hr>
</span>
