<p>mylist works!</p>


<!--
    this would contain all the list 

    we would use the id once we create the users

    current issue as myList is depending on the fact that the home is loaded first as it would
    then load to the current variable to the list




    case 1: login -> calls the get user info to get the userid

    case 2 register -> nm they have to login and we get it


    CURRENT ISSUE:
    display my list issue where if its private it wont show
-->
<!-- <span *ngFor="let todo of userArray">
    <div>
        <p>{{todo.created_at}}</p>
        <p>{{todo.created_by}}</p>
        <p>{{todo.id}}</p>
        <p>{{todo.public_list}}</p>
        <p>{{todo.title}}</p>
    </div>
    <br>
    <hr>
</span> -->



<span *ngFor="let blog of userArray">
    <mat-card>
        <mat-card-content>Title:{{blog.title}}</mat-card-content>
        <mat-card-content>Created-at:{{blog.created_at}}</mat-card-content>
        <mat-card-content>Created-by:{{blog.created_by}}</mat-card-content>
        <mat-card-content>Public-list-status:{{blog.public_list}}</mat-card-content>
        <mat-card-content>Blog-id:{{blog.id}}</mat-card-content>
        <button mat-button (click)="openDialogAddItem(blog)">Add todo list item</button>
        <button mat-button (click)="deleteTodoList(blog.id)">Delete</button>
        <button mat-button (click)="openDialog(blog)">Open Todolist</button>

      </mat-card> 
    <hr>
</span>