<!--

    add a router link that keeps the intergrity of a SPA 

    which replace current render component with another ocmponent 

    note prolly have all the nav bar icons show up but ngif on the current state of login and hide some

-->


<mat-toolbar color="primary">
    <button  mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>TODO LIST - - </span>
    <!--only show when the ngIf is not null-->
    <span *ngIf="currentUserInfo">welcome - {{currentUserInfo?.name}} {{currentUserInfo?.id}}</span>
    <span class="example-spacer"></span>
    <button routerLink="" matTooltip="Click here to go home" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>home</mat-icon>
    </button>
    <button routerLink="loginout" matTooltip="Click here to login in/out" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>login</mat-icon>
    </button>

    <!--
      display when they are login so 
      if they are not login and we should not see this

      might have to do an event emitter 
    -->
    <button  (click)="logout()" matTooltip="Click here to lougout" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon><span class="material-symbols-outlined">
         logout
          </span></mat-icon>
    </button>
    <button routerLink="register" matTooltip="Click here to register an account" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon> how_to_reg</mat-icon>
      </button>
      <button routerLink="mylist" matTooltip="Click here to view your list(s)" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon><span class="material-symbols-outlined">
           view_list
            </span></mat-icon>
      </button>


      <!--
        Have to implement a Route guard that prevent the user from entering if they are not login

        can activiate : looks before if you move to new route . do you have access or not.

        use them at each route
      -->
      <button routerLink="addBlog" matTooltip="Click here to add to your list" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon><span class="material-symbols-outlined">
           add
            </span></mat-icon>
      </button>


      <button routerLink="sharedWithMe" matTooltip="Click here to see who shared their list with you" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon><span class="material-symbols-outlined">
           share
            </span></mat-icon>
      </button>
  </mat-toolbar>
  